* {
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito', sans-serif;
}


body {
  display: flex;
}

.barra_lateral {
  background-color: #0060a8;
  width: 16%;
  height: auto;
  overflow: hidden;
  min-height: 900px;
}

.secciones_barra_lateral {
  margin-top: 20px;
}

.secciones_barra_lateral ul li{
  border-bottom: 1px solid black;
  width: 100%;
  height: 45px;
  list-style: none;
  display: flex;
  align-items: center;
}

.secciones_barra_lateral ul li:hover{
  background-color: #13b3e2;
}

.material-icons {
  color: #c6c6c6;
  padding-left: 20px;
}

.secciones_barra_lateral ul li a{
  color: white !important;
  padding-left: 5px;
  text-decoration: none;
}

.secciones_barra_lateral ul li{
  cursor: pointer;
}

.info_personal {
  margin-left: 20px;
}

.info_personal h5{
  color: white;
}

.info_personal p{
  color: #c9c9c9;
}

.info_personal img {
  width: 50px;
  height: 50px;
}

.barra_lateral_sup {
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.barra_lateral_sup img {
  width: 10%;
  height: 10%;
}

#logo_ivess {
  width: 60%;
}

#icono_menu {
  width: 30px;
  margin: 20px;
  cursor: pointer;
}
.mostrar_seccion {
  width: 100%;
  height: 100%;
  background-color: #ededed;
  height: auto;
  overflow: hidden;
  min-height: 900px;
}

.grafico_clientes_new {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.cabecera_tabla {
  background-color: #1085b4;
  color: #e8e8e8;
}

.btn_rendimiento {
  width: 55px;
  height: 35px;
  font-size: 14px;
}

.ult_semana_negativo {
  color: red;
}

.ult_semana_neutral {
  color: #1085b4;
}

.ult_semana_positivo {
  color: #25d266;
}

.table td, .table th {
  padding: 0.4rem;
}

.contenedor_white {
  background-color: #f7f7f7;
  padding: 20px;
}

.btn_guardar_configuracion {
  background-color: #1085b4;
  color: white;
}

.btn_resetear_configuracion {
  background-color: #c16868;
  color: white;
}

.opciones_crear_users {
  width: 100%;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.opciones_crear_users input {
  width: 30%;
  margin-left: 15px;
}

.opciones_crear_users button {
  background-color: #13b3e2;
  margin-right: 15px;
  color: white;
}

.sub_menu_barra_lateral {
  background-color: #034b77;
  color: #c6c6c6;
}

.header_users {
  background-color: #f9f9f9;
  height: 100px;
}

.header_users_titulo {
  padding-left: 10px;
  padding-top: 10px;
  color: #595959;
}

.header_users_texto {
  padding-left: 10px;
  color: #aaaaaa;
}

.select_super_repart {
  width: 30%;
  margin-left: 15px;
}

.seteo_rango_fechas {
  display: flex;
}

.flechita_abajo {
  padding-left: 0px;
  color: #1085b4;
  cursor: pointer;
}

i {
  cursor: pointer;
}

.cabecera_notificaciones {
  display: flex;
  justify-content:space-between;
}

.notificacion_no_vista {
  color: #aa2f2f;
}

.notificacion_vista {
  color: #00bea4;
}

.filtros_notificaciones {
  width: 100%;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.filtros_notificaciones input {
  width: 30%;
  margin-left: 15px;
}

.filtros_notificaciones input {
  background-color: #13b3e2;
  margin-right: 15px;
  color: white;
}

.select_notificaciones {
  width: 15% !important;
  margin-left: 15px;
  height: 35px !important;
}

.logo_ivess_salir {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.logo_ivess_salir img {
  width: 20%;
}

.body_salir_ingresar {
  background-color: #0060a8;
  display: block;
}

.msj_despedida {
  width: 100vw;
  margin-top: 20px;
  text-align: center;
}

.msj_despedida h2 {
  color: #c1c1c1;
}

.msj_despedida p {
  color: #b2b2b2;
  opacity: 0.6;
}

.opciones_despedida {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.btn_salir_ingresar {
  width: auto;
  background-color: transparent;
  border: 1px solid white;
  margin-right: 10px;
  color: white;
}

.btn_salir_recordar_pass {
  width: auto;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}


.msj_bienvenida {
  width: 100vw;
  margin-top: 20px;
  text-align: center;
}

.msj_bienvenida h2 {
  color: #c1c1c1;
}

.msj_bienvenida p {
  color: #b2b2b2;
  opacity: 0.6;
}

.form_login {
  width: 30%;
  margin-left: 35%;
}

.form_login label {
  color: white;
}

.select_modal_reclamos_desvio {
  width: 15% !important;
  height: 35px !important;
  border: 1px solid #4597b2;
  color: #4597b2;
}

.filtros_reclamos_desvio {
  width: 100%;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: #1085b4;
  margin-bottom: 20px;
  padding: 10px;
}

.filtros_reclamos_desvio input {
  width: 30%;
  margin-left: 15px;
}

.filtros_reclamos_desvio input {
  background-color: #13b3e2;
  margin-right: 15px;
  color: white;
}

.cabecera_reclamos_desvio {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 10px;
}

.cada_notificacion {
  display: flex;
  justify-content: space-between;
}
